<h1>Games</h1>

<ul>
    <% @games.each do |game| %>
        <li>
            <%= link_to game.name, game %> <%= button_to 'Delete', game_path(game.id), method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
    <% end %>
</ul>

<%= button_to 'Home', root_path, method: :get %>
<%= button_to 'Create', new_game_path, method: :get %>